<footer>
  <section class="testimonial">
    <h2>
      "The interplay of flavors between the cheese, meats and fruits is an
      absolute delight."
    </h2>
    <p>Paul Hotcakes</p>
  </section>
  <app-footer-links></app-footer-links>
  <div class="project-credit">
    <p>
      This project is
      <a href="https://github.com/tzmanics/ng-shopify"> open source on GitHub</a
      >, hosted with <a href="https://bit.ly/2G29YwK">Netlify</a>, built with
      <a href="https://angular.io">Angular</a> and made with 💚 by Tara Z.
      Manicsic(<a href="https://twitter.com/tzmanics">@tzmanics</a>)
    </p>
  </div>
</footer>
